label {
    color:blue;
    font-weight: 700;
    font-size: 30px;
}      
* { background: cornflowerblue       
    center *
                                         0        
body {color:pink}

                                